[submodule "external/benchmark"]
	path = bench/benchmark
	url = https://github.com/google/benchmark
[submodule "external/glfw"]
	path = platforms/common/glfw
	url = https://github.com/glfw/glfw
[submodule "core/deps/alfons"]
	path = core/deps/alfons
	url = https://github.com/hjanetzek/alfons
